<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% block title %}Bim Database{% endblock %}</title>
<style type="text/css">
body { font-family: sans-serif; }
table.bim-table { border: 1px solid #999; }
table.bim-table th, table.bim-table td { border: 1px solid #999; padding: 0.2em 0.4em; }
th, td { vertical-align: top; }
</style>
{% block addhead %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
